<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{passedTime}} ago by {{author}} | {{#if isCommentAuthor}}<a href="#/comment/delete/{{_id}}/post/{{postId}}" class="deleteLink">delete</a>{{/if}}
    </div>
</article>